.leaflet-control-layers-list {
	/* height: 45vh; */
	width: 200px;
	overflow-y: auto;
	overflow-x: hidden;
	scrollbar-color: #d7a45d #d4aa7080;
	scrollbar-width: thin;
}

.leaflet-control-layers form {
	/* height: 480px; */
	height: 85vh;
	z-index: 10000;
	overflow-y: auto;
	overflow-x: hidden;
}

.leaflet-control-layers-group-label{
	padding: 2px;
	margin: 2px;
	background-color: #d7a45d;
	border: 1px dashed black;
	border-radius: 4px;
	text-align: center;
}