:root {
    --colorMain: #292a4c;
    --colorDark: #262843;
    --colorDarker: #d5d8e6;
    --colorDarkerUltra: #1c1938;
    --colorPurple: #865ca4;
    --colorVariant: #c46198;
    --colorVariantDark: #a13a82;
    --colorVariantDark2: #eb2282;
    --colorVariantVivid: #bc1d33;
    --colorLightBlue: #17cee2;
    --textTitle: #e6e6e5;
    --textMain: #a2b2b8;
}

.maplegend {
    position: absolute;
    z-index: 9999;
    border: 2px solid grey;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 6px;
    padding: 10px;
    font-size: 14px;
    left: 3px;
    bottom: 40px;
}

p {
    margin: 0;
}

.maplegend .legend-title {
    text-align: left;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 90%;
}

.index-container {
    display: flex;
    flex-direction: column;
}

.index-gradient {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.index-gradient-container {
    box-sizing: border-box;
    margin: 5px;
}

.inside-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-right: 10px;
}

.gradient-block {
    margin-right: 5px;
    width: 30px;
}

.gradient-block span {
    height: fit-content;
    display: block;
    height: 10rem;
}

.gradient-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.gradient-text p {
    font-size: 12px;
}

.maplegend .legend-scale ul {
    margin: 0;
    margin-bottom: 5px;
    padding: 0;
    list-style: none;
}

.maplegend .legend-scale ul li {
    font-size: 80%;
    list-style: none;
    margin-left: 0;
    line-height: 17px;
    margin-bottom: 1.5px;
}

.legend-scale ul {
    margin-bottom: 60px;
}

.maplegend ul.legend-labels li span {
    display: block;
    float: left;
    height: 16px;
    width: 30px;
    margin-right: 5px;
    margin-left: 0;
    border: 1px solid #999;
}

#ndwi-gradient {
    background: linear-gradient(#00FFFF, #0000FF);
}

#dem-gradient {
    /* background: linear-gradient(#830cab, #7556f3, #5590e7, #3bbcac, #52d965, #86ea50, #ccec5a);
    background: linear-gradient(#ccec5a, #86ea50, #52d965, #3bbcac, #5590e7, #7556f3, #830cab);*/
    background: linear-gradient(#00FFFF, #FF00FF, #440044);
}

#slopes-gradient {
    background: linear-gradient(#ccec5a, #86ea50, #52d965, #3bbcac, #5590e7, #7556f3, #830cab);
}

.maplegend .legend-source {
    font-size: 80%;
    color: #777;
    clear: both;
}

.maplegend a {
    color: #777;
}

h4 {
    font-size: 12px;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 5px;
}